*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 98vw;
    height: 100vh;
}

.header{
    background-image:url(/Promedio/img/header.jpg) ;
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    align-items: center;
    border: black 1px solid;
    
} 
.header .title{
    text-shadow: -2px -3px 5px black;
}
.contenido{
    background-color: #d3dae2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    border: black 1px solid;
}
.contenido .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    border: black 1px solid;
    margin: 60px;
    background-color: #d3dae2;
    border-radius: 20px;
    box-shadow: 0 0 12px 2px;
}

.contenido .container .span{
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    margin-left: 125px;
    font-weight: 700;
}
.contenido .container .input{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    background-color: #eee;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #2C3E50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contenido .container .input:focus{
    width: 65%;
    outline: none;
    border-color: #888;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease; 
    opacity: 0;
}
/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
    opacity: 0;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

.contenido .container .button{
    width: 100px;
    background: #00c4f8;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    
}
.contenido .container .button:hover{
    opacity: 0.6;
    text-decoration: none;
}

.resultado{
    background-color: #23d4fd ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58%;
    border: black 1px solid;
    height: 100%;
    box-shadow: 0px 6px 12px 2px;
    
}
.resultado img{
    margin-bottom: 15px;
}
.resultado .p-result{
    font-weight: 900;
}